#logo{
    padding-left: 70px;
    width: 200px;
    height: 75px;
}

.dropdown{
    padding-right: 70px;
}

.jumbotron {
    font-family: 'Permanent Marker', cursive;
}

body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    opacity: .7;
}
