
body {
    background-image: url("http://res.cloudinary.com/codingbootcamp/image/upload/c_fit,h_700/v1524791753/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    opacity: .9;
    position: fixed;
}
.navbar-text {
    font-size: 30px;
    padding-right: 10px;

}

#logo{
    padding-left: 70px;
    width: 200px;
    height: 75px;
}

.dropdown{
    padding-right: 70px;
}

#start {
    position: absolute;
    left: 100px;
    top: 150px;
} 

#add-user {
    float: right;
}

#sign-up-form {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    width: 60%;
    padding: 60px;
    margin-top: 180px;
    border-radius: 25px;
    border: 3px solid gray;
    background-image: url("../assets/images/knife.png");
    background-size: 10%;
    opacity: .8;
   
}

#header{
    color: black;
    background-color: gray;
    border: 2px solid darkgray;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.error-messages{
    color: red;
    font-size: 20px;
    border: 3px solid transparent;
    background-color: white;
    text-align: center;
}

.btn{
    color: black;
    background-color: gray;
    border-radius:10px;
    border: 2px solid darkgray;
}